/* BetterGFMotes Modifier CSS (Most Modifiers are BETA)
 
 Also known as: WeridmageddonScript
 
 a[href^="#"][href$="-FLAG"],a[href^="#"][href$="-FLAG"],body:lang(bc) a[href^="#"][href$="-FLAG"],body:lang(bc) a[href^="#"][href$="-FLAG"] {
 **CSS**!important;
 }
 
 a[href|="#FLAG"],a[href|="#FLAG"],body:lang(bc) a[href|="#FLAG"],body:lang(bc) a[href|="#FLAG"] {
 CSS
 }
 
NOTE: use *BOTH* -webkit-filter for Chrome and filter for Firefox.


 */


.footer-parent:after {
display:block;
font-weight:400;
font-size:10px;
color:green;
padding-left:250px;
padding-right:250px;
content:"    BetterGFMotes is currently enabled!    ";
}

a[href|="#sp"],a[href|="#sp"],body:lang(bc) a[href|="#sp"],body:lang(bc) a[href|="#sp"] {
    display:inline-block;
    padding-right:100%;
}

a[href|="#bl"],a[href|="#bl"],body:lang(bc) a[href|="#bl"],body:lang(bc) a[href|="#bl"] {
    display:inline-block;
    padding-right:100%;
}

a[href|="#blank"],a[href|="#blank"],body:lang(bc) a[href|="#blank"],body:lang(bc) a[href|="#blank"] {
    display:inline-block;
    padding-right:100%;
}

a[href^="#"][href$="-in"],a[href^="#"][href$="-inp"],body:lang(bc) a[href^="#"][href$="-in"],body:lang(bc) a[href^="#"][href$="-inp"] {
    float:none!important;
    display:inline-block!important;
}
a[href^="#"][href$="-blur"],a[href^="#"][href$="-blur"],body:lang(bc) a[href^="#"][href$="-blur"],body:lang(bc) a[href^="#"][href$="-blur"] {
    -webkit-filter: blur(5px)!important;
    filter: blur(5px)!important;
}

a[href^="#"][href$="-r"],a[href^="#"][href$="-r"],body:lang(bc) a[href^="#"][href$="-r"],body:lang(bc) a[href^="#"][href$="-r"] {
    transform:rotateY(180deg)!important;
}
a[href^="#"][href$="-invert"],a[href^="#"][href$="-invert"],body:lang(bc) a[href^="#"][href$="-invert"],body:lang(bc) a[href^="#"][href$="-invert"] {
    -webkit-filter: invert(100%)!important;
    filter: invert(100%)!important;
}
a[href^="#"][href$="-bw"],a[href^="#"][href$="-bw"],body:lang(bc) a[href^="#"][href$="-bw"],body:lang(bc) a[href^="#"][href$="-bw"] {
    -webkit-filter: grayscale(1)!important;
    filter: grayscale(100%)!important;
}
a[href^="#"][href$="-sepia"],a[href^="#"][href$="-sepia"],body:lang(bc) a[href^="#"][href$="-sepia"],body:lang(bc) a[href^="#"][href$="-sepia"] {
    -webkit-filter: sepia(1)!important;
    filter: sepia(1)!important;
}

}
a[href|="#red"],a[href|="#red"],body:lang(bc) a[href|="#red"],body:lang(bc) a[href|="#red"] {
    color: red!important;
    cursor: default;

}
a[href|="#blue"],a[href|="#blue"],body:lang(bc) a[href|="#blue"],body:lang(bc) a[href|="#blue"] {
    color: blue!important;
    cursor: default;

}
a[href|="#green"],a[href|="#green"],body:lang(bc) a[href|="#green"],body:lang(bc) a[href|="#green"] {
    color: green!important;
    cursor: default;

}
a[href|="#yellow"],a[href|="#yellow"],body:lang(bc) a[href|="#yellow"],body:lang(bc) a[href|="#yellow"] {
    color: yellow!important;
    cursor: default;

}
a[href|="#purple"],a[href|="#purple"],body:lang(bc) a[href|="#purple"],body:lang(bc) a[href|="#purple"] {
    color: purple!important;
    cursor: default;

}
a[href|="#lime"],a[href|="#lime"],body:lang(bc) a[href|="#lime"],body:lang(bc) a[href|="#lime"] {
    color: lime!important;
    cursor: default;
}

a[href|="#pink"],a[href|="#pink"],body:lang(bc) a[href|="#pink"],body:lang(bc) a[href|="#pink"] {
    color: pink!important;
    cursor: default;
}

a[href|="#orange"],a[href|="#orange"],body:lang(bc) a[href|="#orange"],body:lang(bc) a[href|="#orange"] {
    color: orange!important;
    cursor: default;
}

a[href|="#gray"],a[href|="#gray"],body:lang(bc) a[href|="#gray"],body:lang(bc) a[href|="#gray"] {
    color: gray!important;
    cursor: default;
}

a[href|="#cyan"],a[href|="#cyan"],body:lang(bc) a[href|="#cyan"],body:lang(bc) a[href|="#cyan"] {
    color: cyan!important;
    cursor: default;
}

a[href^="#"][href$="-i"],a[href^="#"][href$="-i"],body:lang(bc) a[href^="#"][href$="-i"],body:lang(bc) a[href^="#"][href$="-i"] {
    -webkit-filter: hue-rotate(180deg)!important;
    filter: hue-rotate(180deg)!important;
}
a[href^="#"][href$="-up"],a[href^="#"][href$="-up"],body:lang(bc) a[href^="#"][href$="-up"],body:lang(bc) a[href^="#"][href$="-up"] {
    transform:rotateX(180deg)!important;
}

a[href^="#"][href$="-shadow"],a[href^="#"][href$="-shadow"],body:lang(bc) a[href^="#"][href$="-shadow"],body:lang(bc) a[href^="#"][href$="-shadow"] {
    -webkit-filter: grayscale;
    -webkit-filter: brightness(0%);
}
a[href|="#papyrus"],a[href|="#papyrus"],body:lang(bc) a[href|="#papyrus"],body:lang(bc) a[href|="#papyrus"] {
    font-family: Papyrus, fantasy!important;
    color: black!important;
    cursor: default;

}

a[href|="#sans"],a[href|="#sans"],body:lang(bc) a[href|="#sans"],body:lang(bc) a[href|="#sans"] {
    font-family: "Comic Sans MS", fantasy!important;
    color: black!important;
    cursor: default;

}

a[href|="#times"],a[href|="#times"],body:lang(bc) a[href|="#times"],body:lang(bc) a[href|="#times"] {
    font-family: "Times New Roman"!important;
    color: black!important;
    cursor: default;
}


@-webkit-keyframes rainbow {
    0% { color: #F00 }
    17% { color: #FF0 }
    33% { color: #0F0 }
    50% { color: #0FF }
    67% { color: #00F }
    84% { color: #F0F }
    100% { color: #F00 }
}
@keyframes rainbow {
    0% { color: #F00 }
    17% { color: #FF0 }
    33% { color: #0F0 }
    50% { color: #0FF }
    67% { color: #00F }
    84% { color: #F0F }
    100% { color: #F00 }
}
.save-button>a:hover,
a[href$="#rainbow"] {
    -webkit-animation: rainbow 5s linear 0s infinite;
    animation: rainbow 5s linear 0s infinite;
}

/* Site-wide spoiler system. Does not work with subreddits using the NSFW tag for spoilers (yet!)

For this to work on your subreddit, you can either use the spoiler code from /r/spoilercsstesting or have a spoiler flair with a CSS class of "spoiler" or "spoilers" (that's all lowercase)
*/

.linkflair-spoiler a.title:before {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    content: "Spoiler: ";
}

.linkflair-spoiler a.title {
   color: transparent!important;
   text-shadow: 0 0 7px teal!important;
}
.linkflair-spoiler a.title:visited {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}
.linkflair-spoiler a.title:hover {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}

.linkflair-spoiler:hover {
    -webkit-filter: blur(0px)!important;
    filter: blur(0px)!important;
    text-shadow: 0 0 0px teal;
    visibility: visible!important;
}

.linkflair-spoiler .thumbnail img { display: none }

.linkflair-spoiler .linkflairlabel {
    background: transparent;
    border-color: teal;
    color: teal;
    text-transform: uppercase;
}

.linkflair-spoiler .thumbnail {
    background-image: url(https://j-co.ga/spoiler.png);
    background-position: 0px 0px;
    width: 70px;
    height: 70px;
}

/*s*/

.linkflair-spoilers a.title:before {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    content: "Spoiler: ";
}

.linkflair-spoilers a.title {
   color: transparent!important;
   text-shadow: 0 0 7px teal!important;
}
.linkflair-spoilers a.title:visited {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}
.linkflair-spoilers a.title:hover {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}

.linkflair-spoilers:hover {
    -webkit-filter: blur(0px)!important;
    filter: blur(0px)!important;
    text-shadow: 0 0 0px teal;
    visibility: visible!important;
}

.linkflair-spoilers .thumbnail img { display: none }

.linkflair-spoilers .linkflairlabel {
    background: transparent;
    border-color: teal;
    color: teal;
    text-transform: uppercase;
}

.linkflair-spoilers .thumbnail {
    background-image: url(https://j-co.ga/spoiler.png);
    background-position: 0px 0px;
    width: 70px;
    height: 70px;
}

/*CAPS*/
.linkflair-Spoiler a.title:before {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    content: "Spoiler: ";
}

.linkflair-Spoiler a.title {
   color: transparent!important;
   text-shadow: 0 0 7px teal!important;
}
.linkflair-Spoiler a.title:visited {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}
.linkflair-Spoiler a.title:hover {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}

.linkflair-Spoiler:hover {
    -webkit-filter: blur(0px)!important;
    filter: blur(0px)!important;
    text-shadow: 0 0 0px teal;
    visibility: visible!important;
}

.linkflair-Spoiler .thumbnail img { display: none }

.linkflair-Spoiler .linkflairlabel {
    background: transparent;
    border-color: teal;
    color: teal;
    text-transform: uppercase;
}

.linkflair-Spoiler .thumbnail {
    background-image: url(https://j-co.ga/spoiler.png);
    background-position: 0px 0px;
    width: 70px;
    height: 70px;
}

/*S*/

.linkflair-Spoilers a.title:before {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    content: "Spoiler: ";
}

.linkflair-Spoilers a.title {
   color: transparent!important;
   text-shadow: 0 0 7px teal!important;
}
.linkflair-Spoilers a.title:visited {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}
.linkflair-Spoilers a.title:hover {
    color: teal!important;
    text-shadow: 0 0 0px teal!important;
    visibility: visible!important;
}

.linkflair-Spoilers:hover {
    -webkit-filter: blur(0px)!important;
    filter: blur(0px)!important;
    text-shadow: 0 0 0px teal;
    visibility: visible!important;
}

.linkflair-Spoilers .thumbnail img { display: none }

.linkflair-Spoilers .linkflairlabel {
    background: transparent;
    border-color: teal;
    color: teal;
    text-transform: uppercase;
}

.linkflair-Spoilers .thumbnail {
    background-image: url(https://j-co.ga/spoiler.png);
    background-position: 0px 0px;
    width: 70px;
    height: 70px;
}


/* End Spoiler System */

a[href|="#spoiler"],a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"] {
    text-shadow: 0 0 7px teal;
    color: transparent!important;
}

a[href|="#spoiler"]:before,a[href|="#spoiler"]:before,body:lang(bc) a[href|="#spoiler"]:before,body:lang(bc) a[href|="#spoiler"]:before {
    text-shadow: 0 0 0px teal;
    color: teal;
    content: "Spoiler: ";
}

a:hover[href|="#spoiler"],a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"] {
    text-shadow: 0 0 0px teal;
    color: teal;
}

a[href|="/spoiler"],a[href|="/spoiler"],body:lang(bc) a[href|="/spoiler"],body:lang(bc) a[href|="/spoiler"] {
    text-shadow: 0 0 7px teal;
    color: transparent!important;
}

a[href|="/spoiler"]:before,a[href|="/spoiler"]:before,body:lang(bc) a[href|="/spoiler"]:before,body:lang(bc) a[href|="/spoiler"]:before {
    text-shadow: 0 0 0px teal;
    color: teal;
    content: "Spoiler: ";
}

a:hover[href|="/spoiler"],a:hover[href|="/spoiler"],body:lang(bc) a:hover[href|="/spoiler"],body:lang(bc) a:hover[href|="/spoiler"] {
    text-shadow: 0 0 0px teal;
    color: teal;
}


/* Custom expando-buttons for Spoilers. This kinda failed.

expando-button.video.collapsed,
.expando-button.image.collapsed,
.expando-button.selftext.collapsed,
.res-nightmode .expando-button.video.collapsed:hover,
.res-nightmode .expando-button.image.collapsed:hover,
.res-nightmode .expando-button.selftext.collapsed:hover,
.res-nightmode .expando-button.video.expanded,
.res-nightmode .expando-button.image.expanded,
.res-nightmode .expando-button.selftext.expanded,
.res-nightmode .expando-button.video.expanded:hover,
.res-nightmode .expando-button.image.expanded:hover,
.res-nightmode .expando-button.selftext.expanded:hover {
  background: repeating-linear-gradient(
    45deg,
    teal,
    teal 8px,
    transparent 8px,
    transparent 16px
  )!important;
}

*/