/* BetterGFMotes Modifier CSS (Most Modifiers are BETA)
 
 Also known as: WeridmageddonScript
 
 a[href^="#"][href$="-FLAG"],a[href^="#"][href$="-FLAG"],body:lang(bc) a[href^="#"][href$="-FLAG"],body:lang(bc) a[href^="#"][href$="-FLAG"] {
 **CSS**!important;
 }
 
 a[href|="#FLAG"],a[href|="#FLAG"],body:lang(bc) a[href|="#FLAG"],body:lang(bc) a[href|="#FLAG"] {
 CSS
 }
 
 */


a[href|="#sp"],a[href|="#sp"],body:lang(bc) a[href|="#sp"],body:lang(bc) a[href|="#sp"] {
    display:inline-block;
    padding-right:100%;
}

a[href|="#bl"],a[href|="#bl"],body:lang(bc) a[href|="#bl"],body:lang(bc) a[href|="#bl"] {
    display:inline-block;
    padding-right:100%;
}

a[href|="#blank"],a[href|="#blank"],body:lang(bc) a[href|="#blank"],body:lang(bc) a[href|="#blank"] {
    display:inline-block;
    padding-right:100%;
}

a[href^="#"][href$="-in"],a[href^="#"][href$="-inp"],body:lang(bc) a[href^="#"][href$="-in"],body:lang(bc) a[href^="#"][href$="-inp"] {
    float:none!important;
    display:inline-block!important;
}
a[href^="#"][href$="-blur"],a[href^="#"][href$="-blur"],body:lang(bc) a[href^="#"][href$="-blur"],body:lang(bc) a[href^="#"][href$="-blur"] {
    -webkit-filter: blur(5px)!important;
}

a[href^="#"][href$="-r"],a[href^="#"][href$="-r"],body:lang(bc) a[href^="#"][href$="-r"],body:lang(bc) a[href^="#"][href$="-r"] {
    transform:rotateY(180deg)!important;
}
a[href^="#"][href$="-invert"],a[href^="#"][href$="-invert"],body:lang(bc) a[href^="#"][href$="-invert"],body:lang(bc) a[href^="#"][href$="-invert"] {
    -webkit-filter: invert(100%)!important;
}
a[href^="#"][href$="-bw"],a[href^="#"][href$="-bw"],body:lang(bc) a[href^="#"][href$="-bw"],body:lang(bc) a[href^="#"][href$="-bw"] {
    -webkit-filter: grayscale(1)!important;
}
a[href^="#"][href$="-sepia"],a[href^="#"][href$="-sepia"],body:lang(bc) a[href^="#"][href$="-sepia"],body:lang(bc) a[href^="#"][href$="-sepia"] {
    -webkit-filter: sepia(1)!important;
}

a[href|="#spoiler"],a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"] {
    text-shadow: 0 0 20px black;
    color: transparent;
    background-color: black
}
a:hover[href|="#spoiler"],a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"] {
    text-shadow: 0 0 0px black;
    color: white;
}
a[href|="#red"],a[href|="#red"],body:lang(bc) a[href|="#red"],body:lang(bc) a[href|="#red"] {
    color: red
}
a[href|="#blue"],a[href|="#blue"],body:lang(bc) a[href|="#blue"],body:lang(bc) a[href|="#blue"] {
    color: blue
}
a[href|="#green"],a[href|="#green"],body:lang(bc) a[href|="#green"],body:lang(bc) a[href|="#green"] {
    color: green
}
a[href|="#yellow"],a[href|="#yellow"],body:lang(bc) a[href|="#yellow"],body:lang(bc) a[href|="#yellow"] {
    color: yellow
}
a[href|="#purple"],a[href|="#purple"],body:lang(bc) a[href|="#purple"],body:lang(bc) a[href|="#purple"] {
    color: purple
}
a[href|="#lime"],a[href|="#lime"],body:lang(bc) a[href|="#lime"],body:lang(bc) a[href|="#lime"] {
    color: lime}

a[href|="#pink"],a[href|="#pink"],body:lang(bc) a[href|="#pink"],body:lang(bc) a[href|="#pink"] {
    color: pink}

a[href|="#orange"],a[href|="#orange"],body:lang(bc) a[href|="#orange"],body:lang(bc) a[href|="#orange"] {
    color: orange}

a[href|="#gray"],a[href|="#gray"],body:lang(bc) a[href|="#gray"],body:lang(bc) a[href|="#gray"] {
    color: gray}

a[href|="#cyan"],a[href|="#cyan"],body:lang(bc) a[href|="#cyan"],body:lang(bc) a[href|="#cyan"] {
    color: cyan}

a[href^="#"][href$="-i"],a[href^="#"][href$="-i"],body:lang(bc) a[href^="#"][href$="-i"],body:lang(bc) a[href^="#"][href$="-i"] {
    -webkit-filter: hue-rotate(180deg)!important;
}
a[href^="#"][href$="-up"],a[href^="#"][href$="-up"],body:lang(bc) a[href^="#"][href$="-up"],body:lang(bc) a[href^="#"][href$="-up"] {
    transform:rotateX(180deg)!important;
}

a[href^="#"][href$="-shadow"],a[href^="#"][href$="-shadow"],body:lang(bc) a[href^="#"][href$="-shadow"],body:lang(bc) a[href^="#"][href$="-shadow"] {
    -webkit-filter: grayscale;
    -webkit-filter: brightness(0%);
}
a[href|="#papyrus"],a[href|="#papyrus"],body:lang(bc) a[href|="#papyrus"],body:lang(bc) a[href|="#papyrus"] {
    font-family: Papyrus, fantasy
}

a[href|="#sans"],a[href|="#sans"],body:lang(bc) a[href|="#sans"],body:lang(bc) a[href|="#sans"] {
    font-family: "Comic Sans MS", fantasy
}

a[href|="#times"],a[href|="#times"],body:lang(bc) a[href|="#times"],body:lang(bc) a[href|="#times"] {
    font-family: "Times New Roman"
}

/* This part of CSS is from /r/Undertale */

@-webkit-keyframes rainbow {
    0% { color: #F00 }
    17% { color: #FF0 }
    33% { color: #0F0 }
    50% { color: #0FF }
    67% { color: #00F }
    84% { color: #F0F }
    100% { color: #F00 }
}
@keyframes rainbow {
    0% { color: #F00 }
    17% { color: #FF0 }
    33% { color: #0F0 }
    50% { color: #0FF }
    67% { color: #00F }
    84% { color: #F0F }
    100% { color: #F00 }
}
.save-button>a:hover,
a[href$="#rainbow"] {
    -webkit-animation: rainbow 5s linear 0s infinite;
    animation: rainbow 5s linear 0s infinite;
}

/* End Undertale CSS for #rainbow */