/* BetterGFMotes Modifier CSS
 
 Also known as: WeridmageddonScript
 
 a[href^="#"][href*="-FLAG"],a[href^="#"][href*="-FLAG"],body:lang(bc) a[href*="#"][href*="-FLAG"],body:lang(bc) a[href^="#"][href*="-FLAG"] {
 **CSS**!important;
 }
 
 a[href|="#FLAG"],a[href|="#FLAG"],body:lang(bc) a[href|="#FLAG"],body:lang(bc) a[href|="#FLAG"] {
 CSS
 }
 
NOTE: use *BOTH* -webkit-filter for Chrome and filter for Firefox.


 */


.footer-parent:after {
display:block;
font-weight:400;
font-size:10px;
color:green;
padding-left:250px;
padding-right:250px;
content:"    BetterGFMotes is currently enabled!    ";
}

a[href|="#sp"],a[href|="#sp"],body:lang(bc) a[href|="#sp"],body:lang(bc) a[href|="#sp"] {
    display:inline-block;
    padding-right:100%;
}

a[href|="#bl"],a[href|="#bl"],body:lang(bc) a[href|="#bl"],body:lang(bc) a[href|="#bl"] {
    display:inline-block;
    padding-right:100%;
}

a[href|="#blank"],a[href|="#blank"],body:lang(bc) a[href|="#blank"],body:lang(bc) a[href|="#blank"] {
    display:inline-block;
    padding-right:100%;
}

a[href^="#"][href*="-in"],a[href^="#"][href*="-inp"],body:lang(bc) a[href^="#"][href*="-in"],body:lang(bc) a[href^="#"][href*="-inp"] {
    float:none!important;
    display:inline-block!important;
}
a[href^="#"][href*="-blur"],a[href^="#"][href*="-blur"],body:lang(bc) a[href^="#"][href*="-blur"],body:lang(bc) a[href^="#"][href*="-blur"] {
    -webkit-filter: blur(5px)!important;
    filter: blur(5px)!important;
}

a[href^="#"][href$="-r"],a[href^="#"][href$="-r"],body:lang(bc) a[href^="#"][href$="-r"],body:lang(bc) a[href^="#"][href$="-r"] {
    transform:rotateY(180deg)!important;
}
a[href^="#"][href*="-invert"],a[href^="#"][href*="-invert"],body:lang(bc) a[href^="#"][href*="-invert"],body:lang(bc) a[href^="#"][href*="-invert"] {
    -webkit-filter: invert(100%)!important;
    filter: invert(100%)!important;
}
a[href^="#"][href*="-bw"],a[href^="#"][href*="-bw"],body:lang(bc) a[href^="#"][href*="-bw"],body:lang(bc) a[href^="#"][href*="-bw"] {
    -webkit-filter: grayscale(1)!important;
    filter: grayscale(100%)!important;
}
a[href^="#"][href*="-mono"],a[href^="#"][href*="-mono"],body:lang(bc) a[href^="#"][href*="-mono"],body:lang(bc) a[href^="#"][href*="-mono"] {
    -webkit-filter: grayscale(1)!important;
    filter: grayscale(100%)!important;
}
a[href^="#"][href*="-sepia"],a[href^="#"][href*="-sepia"],body:lang(bc) a[href^="#"][href*="-sepia"],body:lang(bc) a[href^="#"][href*="-sepia"] {
    -webkit-filter: sepia(1)!important;
    filter: sepia(1)!important;
}

a[href|="#red"],a[href|="#red"],body:lang(bc) a[href|="#red"],body:lang(bc) a[href|="#red"] {
    color: red!important;
    cursor: text;

}
a[href|="#blue"],a[href|="#blue"],body:lang(bc) a[href|="#blue"],body:lang(bc) a[href|="#blue"] {
    color: blue!important;
    cursor: text;

}
a[href|="#green"],a[href|="#green"],body:lang(bc) a[href|="#green"],body:lang(bc) a[href|="#green"] {
    color: green!important;
    cursor: text;

}
a[href|="#yellow"],a[href|="#yellow"],body:lang(bc) a[href|="#yellow"],body:lang(bc) a[href|="#yellow"] {
    color: yellow!important;
    cursor: text;

}
a[href|="#purple"],a[href|="#purple"],body:lang(bc) a[href|="#purple"],body:lang(bc) a[href|="#purple"] {
    color: purple!important;
    cursor: text;

}
a[href|="#lime"],a[href|="#lime"],body:lang(bc) a[href|="#lime"],body:lang(bc) a[href|="#lime"] {
    color: lime!important;
    cursor: text;
}

a[href|="#pink"],a[href|="#pink"],body:lang(bc) a[href|="#pink"],body:lang(bc) a[href|="#pink"] {
    color: pink!important;
    cursor: text;
}

a[href|="#orange"],a[href|="#orange"],body:lang(bc) a[href|="#orange"],body:lang(bc) a[href|="#orange"] {
    color: orange!important;
    cursor: text;
}

a[href|="#gray"],a[href|="#gray"],body:lang(bc) a[href|="#gray"],body:lang(bc) a[href|="#gray"] {
    color: gray!important;
    cursor: text;
}

a[href|="#cyan"],a[href|="#cyan"],body:lang(bc) a[href|="#cyan"],body:lang(bc) a[href|="#cyan"] {
    color: cyan!important;
    cursor: text;
}

a[href^="#"][href$="-i"],a[href^="#"][href$="-i"],body:lang(bc) a[href^="#"][href$="-i"],body:lang(bc) a[href^="#"][href*="$i"] {
    -webkit-filter: hue-rotate(180deg)!important;
    filter: hue-rotate(180deg)!important;
}
a[href^="#"][href*="-up"],a[href^="#"][href*="-up"],body:lang(bc) a[href^="#"][href*="-up"],body:lang(bc) a[href^="#"][href*="-up"] {
    transform:rotateX(180deg)!important;
}

a[href^="#"][href*="-shadow"],a[href^="#"][href*="-shadow"],body:lang(bc) a[href^="#"][href*="-shadow"],body:lang(bc) a[href^="#"][href*="-shadow"] {
    -webkit-filter: grayscale;
    -webkit-filter: brightness(0%);
}*
a[href|="#papyrus"],a[href|="#papyrus"],body:lang(bc) a[href|="#papyrus"],body:lang(bc) a[href|="#papyrus"] {
    font-family: Papyrus, fantasy!important;
    color: black!important;
    cursor: text;

}

a[href|="#sans"],a[href|="#sans"],body:lang(bc) a[href|="#sans"],body:lang(bc) a[href|="#sans"] {
    font-family: "Comic Sans MS", fantasy!important;
    color: black!important;
    cursor: text;

}


a[href|="#cipher"],a[href|="#cipher"],body:lang(bc) a[href|="#cipher"],body:lang(bc) a[href|="#cipher"] {
    font-family: CaesarForMe!important;
    color: black!important;
    cursor: text;

}

a[href|="#times"],a[href|="#times"],body:lang(bc) a[href|="#times"],body:lang(bc) a[href|="#times"] {
    font-family: "Times New Roman"!important;
    color: black!important;
    cursor: text;
}


@-webkit-keyframes bettergfmotes-rainbow {
    0% { color: #F00 }
    17% { color: #FF0 }
    33% { color: #0F0 }
    50% { color: #0FF }
    67% { color: #00F }
    84% { color: #F0F }
    100% { color: #F00 }
}
@keyframes bettergfmotes-rainbow {
    0% { color: #F00 }
    17% { color: #FF0 }
    33% { color: #0F0 }
    50% { color: #0FF }
    67% { color: #00F }
    84% { color: #F0F }
    100% { color: #F00 }
}
a[href$="#rainbow"] {
    -webkit-animation: bettergfmotes-rainbow 5s linear 0s infinite;
    animation: bettergfmotes-rainbow 5s linear 0s infinite;
}

/* Spoiler Stuff */

a[href|="#spoiler"],a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"],body:lang(bc) a[href|="#spoiler"] {
    background-color: black;
    color: black;
}

a[href|="#spoiler"]:before,a[href|="#spoiler"]:before,body:lang(bc) a[href|="#spoiler"]:before,body:lang(bc) a[href|="#spoiler"]:before {
    background-color: black;
    color: black;
    content: " "!important;
}

a:hover[href|="#spoiler"],a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"],body:lang(bc) a:hover[href|="#spoiler"] {
    background-color: black;
    content: "";
    color: white!important;
}

/* Please note that the spoiler tags won't conflict with BPM now! */

a[href|="/spoiler"],a[href|="/spoiler"],body:lang(bc) a[href|="/spoiler"],body:lang(bc) a[href|="/spoiler"] {
    background-color: black;
    color: black;
}

a[href|="/spoiler"]:before,a[href|="/spoiler"]:before,body:lang(bc) a[href|="/spoiler"]:before,body:lang(bc) a[href|="/spoiler"]:before {
    background-color: black;
    color: black;
    content: " "!important;
}

a:hover[href|="/spoiler"],a:hover[href|="/spoiler"],body:lang(bc) a:hover[href|="/spoiler"],body:lang(bc) a:hover[href|="/spoiler"] {
    background-color: black;
    content: "";
    color: white!important;
}

.bpmote-spoiler {
    background-color: black;
    color: black;
}
.bpmote-spoiler:before {
    background-color: black;
    content: " "!important;
    color: black;
}
.bpmote-spoiler:hover {
    background-color: black;
    content: "";
    color: white;
}

/* Spoiler Stuff END */

/* This CSS was written by /u/DoubleDigitIQ! Thank him! */
@keyframes bettergfmotes-intensify { 
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 0.5px;
        top: 0px;
    }
    50% {
        left: 0.5px;
        top: 0.5px;
    }
    75% {
        left: 0px;
        top: 0.5px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@-webkit-keyframes bettergfmotes-intensify { 
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 0.5px;
        top: 0px;
    }
    50% {
        left: 0.5px;
        top: 0.5px;
    }
    75% {
        left: 0px;
        top: 0.5px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

a[href^="#"][href*="-intensifies"],a[href^="#"][href*="-intensifies"],body:lang(bc) a[href^="#"][href*="-intensifies"],body:lang(bc) a[href^="#"][href*="-intensifies"] {
    -webkit-animation: bettergfmotes-intensify 0.125s infinite linear;
    position: relative;
    animation: bettergfmotes-intensify 0.125s infinite linear;
}

/* This piece of CSS gives some more MyLittleChaos / BPM support to BetterGFMotes */

a[href^="#"][href$="-ghost"],a[href^="#"][href*="-ghost"],body:lang(bc) a[href^="#"][href*="-ghost"],body:lang(bc) a[href^="#"][href*="-ghost"] {
    filter:opacity(0.5)
    -webkit-filter:opacity(0.5)
}

a[href^="#"][href$="-h45"],a[href^="#"][href*="-h45"],body:lang(bc) a[href^="#"][href*="-h45"],body:lang(bc) a[href^="#"][href*="-h45"] {
    -webkit-filter: hue-rotate(45deg)!important;
    filter: hue-rotate(45deg)!important;
}
a[href^="#"][href*="-h90"],a[href^="#"][href*="-h90"],body:lang(bc) a[href^="#"][href*="-h90"],body:lang(bc) a[href^="#"][href*="-h90"] {
    -webkit-filter: hue-rotate(90deg)!important;
    filter: hue-rotate(90deg)!important;
}
a[href^="#"][href*="-h135"],a[href^="#"][href*="-h135"],body:lang(bc) a[href^="#"][href*="-h135"],body:lang(bc) a[href^="#"][href*="-h135"] {
    -webkit-filter: hue-rotate(135deg)!important;
    filter: hue-rotate(135deg)!important;
}
a[href^="#"][href*="-h180"],a[href^="#"][href*="-h180"],body:lang(bc) a[href^="#"][href=*"-h180"],body:lang(bc) a[href^="#"][href*="-h180"] {
    -webkit-filter: hue-rotate(180deg)!important;
    filter: hue-rotate(180deg)!important;
}
a[href^="#"][href*="-h225"],a[href^="#"][href*="-h225"],body:lang(bc) a[href^="#"][href*="-h225"],body:lang(bc) a[href^="#"][href*="-h225"] {
    -webkit-filter: hue-rotate(225deg)!important;
    filter: hue-rotate(225deg)!important;
}
a[href^="#"][href*="-h270"],a[href^="#"][href*="-h270"],body:lang(bc) a[href^="#"][href*="-h270"],body:lang(bc) a[href^="#"][href*="-h270"] {
    -webkit-filter: hue-rotate(270deg)!important;
    filter: hue-rotate(270deg)!important;
}
a[href^="#"][href*="-h315"],a[href^="#"][href*="-h315"],body:lang(bc) a[href^="#"][href*="-h315"],body:lang(bc) a[href^="#"][href*="-h315"] {
    -webkit-filter: hue-rotate(315deg)!important;
    filter: hue-rotate(315deg)!important;
}

/* Rotations from CHAOS / BPM */

a:hover[href^='#'][href*='-r'][href*='-d']{transform:rotate(0deg)scaleX(1);image-rendering:crisp-edges}
a[href^='#'][href*='-45'],a:hover[href^='#'][href*='-45'][href*='-r'][href*='-d']{transform:rotate(45deg)scaleX(1)}
a[href^='#'][href*='-90'],a:hover[href^='#'][href*='-90'][href*='-r'][href*='-d']{transform:rotate(90deg)scaleX(1);image-rendering:crisp-edges}
a[href^='#'][href*='-135'],a:hover[href^='#'][href*='-135'][href*='-r'][href*='-d']{transform:rotate(135deg)scaleX(1)}
a[href^='#'][href*='-180'],a:hover[href^='#'][href*='-180'][href*='-r'][href*='-d']{transform:rotate(180deg)scaleX(1);image-rendering:crisp-edges}
a[href^='#'][href*='-225'],a:hover[href^='#'][href*='-225'][href*='-r'][href*='-d']{transform:rotate(225deg)scaleX(1)}
a[href^='#'][href*='-270'],a:hover[href^='#'][href*='-270'][href*='-r'][href*='-d']{transform:rotate(270deg)scaleX(1);image-rendering:crisp-edges}
a[href^='#'][href*='-315'],a:hover[href^='#'][href*='-315'][href*='-r'][href*='-d']{transform:rotate(315deg)scaleX(1)}
a[href^='#'][href*='-r'],a:hover[href^='#'][href*='-d']{transform:rotate(0deg)scaleX(-1);image-rendering:crisp-edges}
a[href^='#'][href*='-45'][href*='-r'],a:hover[href^='#'][href*='-45'][href*='-d']{transform:rotate(45deg)scaleX(-1)}
a[href^='#'][href*='-90'][href*='-r'],a:hover[href^='#'][href*='-90'][href*='-d']{transform:rotate(90deg)scaleX(-1);image-rendering:crisp-edges}
a[href^='#'][href*='-135'][href*='-r'],a:hover[href^='#'][href*='-135'][href*='-d']{transform:rotate(135deg)scaleX(-1)}
a[href^='#'][href*='-180'][href*='-r'],a:hover[href^='#'][href*='-180'][href*='-d']{transform:rotate(180deg)scaleX(-1);image-rendering:crisp-edges}
a[href^='#'][href*='-225'][href*='-r'],a:hover[href^='#'][href*='-225'][href*='-d']{transform:rotate(225deg)scaleX(-1)}
a[href^='#'][href*='-270'][href*='-r'],a:hover[href^='#'][href*='-270'][href*='-d']{transform:rotate(270deg)scaleX(-1);image-rendering:crisp-edges}
a[href^='#'][href*='-315'][href*='-r'],a:hover[href^='#'][href*='-315'][href*='-d']{transform:rotate(315deg)scaleX(-1)}
a[href^='#'][href*='-225'][href*='-f'][href*='-r'],a:hover[href^='#'][href*='-225'][href*='-f'][href*='-d']{transform:rotate(45deg)scaleX(1)}
a[href^='#'][href*='-270'][href*='-f'][href*='-r'],a:hover[href^='#'][href*='-270'][href*='-f'][href*='-d']{transform:rotate(90deg)scaleX(1);image-rendering:crisp-edges}
a[href^='#'][href*='-315'][href*='-f'][href*='-r'],a:hover[href^='#'][href*='-315'][href*='-f'][href*='-d']{transform:rotate(135deg)scaleX(1)}
a[href^='#'][href*='-f'][href*='-r'],a:hover[href^='#'][href*='-f'][href*='-d']{transform:rotate(180deg)scaleX(1);image-rendering:crisp-edges}
a[href^='#'][href*='-45'][href*='-f'][href*='-r'],a:hover[href^='#'][href*='-45'][href*='-f'][href*='-d']{transform:rotate(225deg)scaleX(1)}
a[href^='#'][href*='-90'][href*='-f'][href*='-r'],a:hover[href^='#'][href*='-90'][href*='-f'][href*='-d']{transform:rotate(270deg)scaleX(1);image-rendering:crisp-edges}
a[href^='#'][href*='-135'][href*='-f'][href*='-r'],a:hover[href^='#'][href*='-135'][href*='-f'][href*='-d']{transform:rotate(315deg)scaleX(1)}
a[href^='#'][href*='-225'][href*='-f'],a:hover[href^='#'][href*='-225'][href*='-f'][href*='-r'][href*='-d']{transform:rotate(45deg)scaleX(-1)}
a[href^='#'][href*='-270'][href*='-f'],a:hover[href^='#'][href*='-270'][href*='-f'][href*='-r'][href*='-d']{transform:rotate(90deg)scaleX(-1);image-rendering:crisp-edges}
a[href^='#'][href*='-315'][href*='-f'],a:hover[href^='#'][href*='-315'][href*='-f'][href*='-r'][href*='-d']{transform:rotate(135deg)scaleX(-1)}
a[href^='#'][href*='-f'],a:hover[href^='#'][href*='-f'][href*='-r'][href*='-d']{transform:rotate(180deg)scaleX(-1);image-rendering:crisp-edges}
a[href^='#'][href*='-45'][href*='-f'],a:hover[href^='#'][href*='-45'][href*='-f'][href*='-r'][href*='-d']{transform:rotate(225deg)scaleX(-1)}
a[href^='#'][href*='-90'][href*='-f'],a:hover[href^='#'][href*='-90'][href*='-f'][href*='-r'][href*='-d']{transform:rotate(270deg)scaleX(-1);image-rendering:crisp-edges}
a[href^='#'][href*='-135'][href*='-f'],a:hover[href^='#'][href*='-135'][href*='-f'][href*='-r'][href*='-d']{transform:rotate(315deg)scaleX(-1)}

/* NOTICE: The code above was modified to work in Chrome. Now click-prevention! */


.md a[href]:not([href*=":"]):not([href*="/"]):not([href^="/r/"]):not([href^="/u/"]):not([href^="/user/"]):active {
    pointer-events:none;
    cursor:default;
}

/* END Emote click disabling, start overlays */

a[href^='#'][href*='-glitter']::before{
content:" ";
background: url(https://f.thumbs.redditmedia.com/o7LMG8mG9TwilvIw.png) scroll;
width: 100%;
height: 100%;
display:block;
z-index: 3;
}

a[href^='#'][href*='-sparkle']::before{
content:" ";
background: url(https://e.thumbs.redditmedia.com/mzcJeIHQK3IcxwQd.png) scroll;
display: block;
height: 100%;
width: 100%;
z-index: 3;
}

a[href^='#'][href*='-rainbowsparkle']::before{
content:" ";
background: url(https://d.thumbs.redditmedia.com/mH_TxiA3cOLCSwMQ.png) scroll;
display: block;
height: 100%;
width: 100%;
z-index: 3;
}

a[href^='#'][href*='-glitch']::before{
content:" ";
background: url(https://c.thumbs.redditmedia.com/4ng0sBV_G3NnGPd8.png) scroll;
display: block;
height: 100%;
width: 100%;
z-index: 3;
}

a[href^='#'][href*='-intenseglitch']::before{
content:" ";
background: url(https://b.thumbs.redditmedia.com/N-fhJfepnyJGTwiU.png) scroll;
display: block;
height: 100%;
width: 100%;
z-index: 3;
}

/* A feature I was going to add, but I didn't really like how it looked.

a[href^='#'][href*='-colorred']::before{
content:" ";
background: url(https://j-co.ga/BetterGFMotesDB/ColorFilterImg/red.png) scroll;
display: block;
height: 100%;
width: 100%;
z-index: 3;
}

*/

/* /r/TakeBackGravityFalls's retro photo borders. We have permission from the moderators to do this, please ask them before using this in your projects. */

a[href^="#"][href$="-photo"],a[href^="#"][href*="-photo"],body:lang(bc) a[href^="#"][href*="-photo"],body:lang(bc) a[href^="#"][href*="-photo"] {
  margin: 2px 5px 2px 2px;
  border-width: 3px 3px 10px 3px;
  border-color: #F2F2F2;
  border-style: solid; 
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-box-shadow: 1px 1px 2px black;
  -moz-box-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 2px black;
  background-color: tan;
}

@keyframes bettergfmotes-slide {
    0% { left: 0%}
    25% { left: 12.5%}
    50% { left: 25%}
    75% { left: 37.5%}
    100% { left: 50%}
}

@keyframes bettergfmotes-wobble {
    0% { transform:rotate(32deg)scaleX(1) }
    33% { transform:rotate(-32deg)scaleX(1) }
    66% { transform:rotate(32deg)scaleX(1) }
    100% { transform:rotate(-32deg)scaleX(1) }
  /*  100% { transform:rotate(5deg)scaleX(1) } */
}

@keyframes bettergfmotes-spin {
    0% { transform:rotate(0deg)scaleX(1) }
    25% { transform:rotate(90deg)scaleX(1) }
    50% { transform:rotate(180deg)scaleX(1) }
    75% { transform:rotate(270deg)scaleX(1) }
    100% { transform:rotate(360deg)scaleX(1) }
  /*  100% { transform:rotate(5deg)scaleX(1) } */
}



a[href^='#'][href*='-slide'] {
    animation: bettergfmotes-slide 2s infinite alternate linear;
    position: relative;
    /* width: 20%; */
}

a[href^='#'][href*='-wobble'] {
    animation: bettergfmotes-wobble 2s infinite alternate linear;
}

a[href^='#'][href*='-rock'] {
    animation: bettergfmotes-wobble 2s infinite alternate linear;
}

a[href^='#'][href*='-spin'] {
    animation: bettergfmotes-spin 2s infinite linear;
}

 a[href^="#"][href*="-d"]::hover,a[href^="#"][href*="-d"]::hover,body:lang(bc) a[href*="#"][href*="-d"]::hover,body:lang(bc) a[href^="#"][href*="-d"] {
 -moz-transform: scale(-1, 1)!important;
-webkit-transform: scale(-1, 1)!important;
-o-transform: scale(-1, 1)!important;
-ms-transform: scale(-1, 1)!important;
transform: scale(-1, 1);!important;
 }